@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
img[src*="dltpayslogo"] {
  border-radius: 0.5rem;
}
button:active {
  transform: scale(0.97);
}

div[class*="cursor-pointer"]:active {
  transform: scale(0.97);
}
@layer base {
  button,
  [type="button"],
  [type="submit"],
  [type="reset"],
  label,
  a,
  select,
  [role="button"] {
    @apply cursor-pointer;
  }
}
html {
  font-size: 125%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}